@import "./reset.css";

body {
  display: flex;
  justify-content: center;
  background-color: #0277d1;
  color: #ffffff;

  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.container {
  margin-top: 200px;
  padding: 7px 7px 0 7px;

  height: 100%;
  width: 500px;
}
